*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continer{
    background: rebeccapurple;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 10px;
    color: white;

}
.box{
    color: blue;
}